<h1 class="big_spacer">Login</h1>

<%= form_tag '/login' do %>

  <div class="spacer">Email: <%= text_field_tag :email %></div>
  <div class="spacer">Password: <%= password_field_tag :password %></div>
  <%= submit_tag "Submit", class: 'green' %>

<% end %>