<section class="admin_dashboard">

  <h1>Welcome to the Administrator dashboard</h1>

  <div>
    <h3>Current Product Count:</h3>
    <%= @product_count %>
    <br>
    <h3>Current Category Count:</h3>
    <%= @category_count %>
  </div>

</section>
