<section class="about_us">
  <header class="page-header">
    <div class="intro">
      <p>
        Jungle is a website that sells fictitious plants at fictitious prices. One of our products 
        is listed to retail for $1,999.00!! Who would pay that for a house plant? Ridiculous!
      </p>
      <p>
        Our colour scheme is predictably green and yellow. Some of the tutorial vids hint at it 
        having once been a clothing store app, and some images even exist in the public folder here.
        That would have also been an interesting crossover. Maybe hemp only clothing...?
      </p>
      <p>
        Anyway, marketing told the devs the site needs an 'About Us' page but didn't provide even the
        usual lorem ipsum placeholder text so I've made up 3 silly paragraphs. This text likely won't
        last long. WELCOME TO THE JUNGLE!
      </p>
    </div>
  </header>

</section>