.new_user_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.big_spacer {
  margin-top: 30px;
  margin-bottom: 30px
}

.spacer {
  margin-bottom: 10px
}

.dark_grey {
  color: darkgray
}

.newuserbutton {
  color: green;
}
